
<div class="center jumbotron"> 
   <h1>Home</h1>
    <h2>
      This is the home page for the
      <a href="https://www.owasp.org/index.php/OWASP_Knowledge_Based_Authentication_Performance_Metrics_Project">KBAPMP</a>
      sandbox. Help us to test the KBAPMP standard. Click in the First time button
 </h2>
<%= link_to "First time here!", kba2in_path, class: "btn btn-lg btn-primary" %>

<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>

<%= link_to image_tag("owasp.jpg", alt: "Owasp logo"),
            'https://www.owasp.org/index.php/OWASP_Knowledge_Based_Authentication_Performance_Metrics_Project' %>
 

