<footer class="footer">
  <small>
    The <a href="https://www.owasp.org/index.php/OWASP_Knowledge_Based_Authentication_Performance_Metrics_Project">KBAPMP SANDBOX</a>
    by <a href="http://fosslawyers.org">Luis Enriquez</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'about_path' %></li>
      <li><%= link_to "Sign in", '#' %></li>
      <li><a href="https://www.owasp.org/index.php/OWASP_Knowledge_Based_Authentication_Performance_Metrics_Project">News</a></li>
    </ul>
  </nav>
</footer>
